<a href="https://colab.research.google.com/github/nizamettinkaya/IT-project-0/blob/main/python_ders1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
False and not True

False

In [ ]:
False or True

True

In [ ]:
True and False and True #and False arar

False

In [ ]:
True or False or False  # or True arar

True

In [ ]:
print(2 and 3)

3

In [ ]:
print(3 and 2)

2

In [ ]:
print(2 or 3)

2

In [ ]:
print(1 and 0)

0

In [ ]:
print(1 or 0)

1

In [ ]:
print(3 and 2 and 1)

1

In [ ]:
bool(1)

True

In [ ]:
bool("0")

True

In [ ]:
bool(" ")

True

In [ ]:
bool("")

False

In [ ]:
bool()

False

In [ ]:
bool(1 or 2)

True

In [ ]:
bool(-1 or -2)

True

In [ ]:
bool(1 and 2)

True

In [ ]:
print(1 and 2)

2

In [ ]:
print(1 or 2)

1

In [ ]:
"ALİ"[1]

'L'

In [ ]:
"ALİ"[2]

'İ'

In [ ]:
"ALİ"[0]

'A'

In [ ]:
"clarus-way ."[6]

'-'

In [ ]:
"clarus-way ."[7]

'w'

In [ ]:
"clarus-way ."[10]                             #indexing bir sayı çağırır

' '

In [ ]:
"ahmet 34"

'ahmet 34'

In [ ]:
var = "ahmet 34"
var[6]
type(var[6])

str

In [ ]:
"clarus-way ." [1:4]                       # slicing birden fazla eleman çağırabiliriz....

'lar'

In [ ]:
"clarus-way ." [6:8]

'-w'

In [ ]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:1])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
P
Ponx
hei
nix
xineohP

In [ ]:
apples = 5                            #while dögüsü
oranges = 10
while apples < oranges:
  print("True")
  apples = apples + 1
  print(apples)

True
6
True
7
True
8
True
9
True
10

In [ ]:
# ödev 4
print("önemli not!!!!")
print("ölüm_riski_var = True")
print("ölüm risk yok = False")

olüm_riski_yok = False
age =int(input("enter your age "))
if age>70:
  print(True)
else: 
  print(False)
print("please your answers yes (write yes) your answers no clik just Enter")

chronic = input("how many do you have illness ")
print(bool(chronic))
smoking = input("do you smoke ")
print(bool(smoking))
immune = input("are your immune system weak ")
print(bool(chronic))
print(bool(chronic and smoking and immune))

önemli not
ölüm_riski_var = True
ölüm risk yok = False
enter your age 45
False
please your answers yes (write yes) your answers no clik just Enter
how many do you have illness
False
do you smoke
False
are your immune system weak
False
False

In [ ]:

chronic = input("how many do you have ch. ill ")
print(bool(chronic))

how many do you have ch. ill 1
True

In [ ]:
print("Consider the following questions in terms of True/False regarding anyone")

age = Are you a cigarette addict older than 75 years old? Variable → age

Do you have a severe chronic disease? Variable → chronic

Is your immune system too weak? Variable → immune

In [ ]:
age =  # can be assigned only True/False
chronic =  # can be assigned only True/False
immune =  # can be assigned only True/False
risk = ? (True or False)

In [ ]:
pi = 3.1415
r = float(input("lütfen daire yarı çapı giriniz "))
cevre = float(2*pi*r)
alan = float(pi*(r*r))
print('cevresi =', float(cevre), '\nalanı =', float(alan))

lütfen daire yarı çapı giriniz 5
cevresi = 31.415000000000003
alanı = 78.53750000000001

In [ ]:
a = 200 / 700     #*********************************************************    digits
print("{r:1.3}".format(r = a))

0.286

In [ ]:
a = 200 / 700     #*********************************************************
print("{r:1.2}".format(r = a))

0.29

In [ ]:
name = "enes"
surname = "kaya"
age = "7"
#tanım = ("my name is ",  name,  " ",  surname,  " ",  "I am ",  age,  " years old." )
print('my name is {0} {1} I am {2} years old.'.format(name, surname, age))

my name is enes kaya I am 7 years old.

In [ ]:
website = "www.clarusway.com"
course = "python programlama dili"
print(len(course))
print(website[0:3])
print(website[-3:])
print(course[:3])  #baştan 3 karekteri al
print(course[-3:]) # sondan 3 karekteri al
print(course[::-1])  # sondan başa tersten karekterleri al
print("abc "*3)   # bir ifadeyi yan yana istediğin kadar yazdır....

23
www
com
pyt
ili
ilid amalmargorp nohtyp
abc abc abc

In [ ]:
website = "www.clarusway.com"
course = "python programlama dili"
message = " hello world "
#message = message.strip()
#print(message)
message = course.strip()
print(message)
#print(course.upper())
#result = website.startswith("w") 
#print(result)
result = website.endswith("w") 
print(result)
#print(website.find("com"))
#result = course.count('a')
#print(result)

python programlama dili
False

In [ ]:
print("orange"[-2:-5:-1])

gna

In [ ]:
print("orange"[4:1:-1])

gna

In [ ]:
print("orange"[4:1:-2])

ga

In [ ]:
animal = "hippopotamus"
print(animal[1:])
print(animal[3:])
print(animal[:1])
print(animal[:3])

ippopotamus
popotamus
h
hip

In [ ]:
print(animal[4:1:-1])
print(animal[1:4])

opp
ipp

In [ ]:
print(len(animal))

12

In [ ]:
print("upper" + "upper" + "upper")
print("upper","upper","upper")

upperupperupper
upper upper upper

In [ ]:
print(*"clarusway")

c l a r u s w a y

In [ ]:
print(*"I am angry...")

I   a m   a n g r y . . .

In [ ]:
print(*"1453")

1 4 5 3

In [ ]:
x += "a"
x = x + "h"
print(x)
x = x+"me"
print(x)

ahmeah
ahmeahme

In [ ]:
x += "a"
print(x)

aa

In [ ]:
a = "deneme"    #**********************??????????????????
b = "yanılma"
output = f"biz {a} ve {b} yöntemi ile öğreniriz"
print(output)

biz deneme ve yanılma yöntemi ile öğreniriz

In [ ]:
a = "deneme"
b = "yanılma"
print("biz {0} ve {1} yöntemi ile öğreniriz.".format(a,b))

biz deneme ve yanılma yöntemi ile öğreniriz.

In [ ]:
website = "www.clarusway.com"
course = "python programlama dili"
a = website.rstrip('moc')
print(a)

www.clarusway.

In [ ]:
website = "www.clarusway.com"
course = "python programlama dili"
a = website.lstrip('w''.')
print(a)

clarusway.com

In [ ]:
website = "www.clarusway.com"
course = "python programlama dili"
a = website.split()
print(a)
print(course.count('a'))
print(course.count('p'))
print(course.count('a',0,15))
print(course.startswith('a'))
print(course.endswith('i'))
print(course.index('python'))
b = course.isalpha()
print(b)

['www.clarusway.com']
3
2
1
False
True
0
False

In [ ]:
b = course.isalpha()
print(b)

False

In [ ]:
c = "helloworld"
result = c.isalpha()
print(result)

True

In [ ]:
d = "12724344"
result = d.isdigit()
print(result)

True

In [ ]:
c = "helloworld"
result = c.center(55,'*')
print(result)

***********************helloworld**********************

In [ ]:
c = "helloworld"
result = c.rjust(55,'*')
print(result)

*********************************************helloworld

In [ ]:
c = "hello world"
result = c.ljust(55,'*')
print(result)

hello world********************************************

In [ ]:
c = "helloworld"                   # elemanı değiştirme
result = c.replace('','*')
print(result)

*h*e*l*l*o*w*o*r*l*d*

In [ ]:
c = "hello world"
result = c.replace(' ','*')
print(result)

hello*world

In [ ]:
c = "hello world"
result = c.replace('','*',5)
print(result)

*h*e*l*l*o world

In [ ]:
c = "hello world"
result = c.replace('world','there')
print(result)

hello there

In [ ]:
c = "hello world"
result = c.split()
print(result)

['hello', 'world']

In [ ]:
my_list = "I want to be a good software developer"
result = my_list.split()
print(result)
print(result[2])

['I', 'want', 'to', 'be', 'a', 'good', 'software', 'developer']
to

In [ ]:
my_list = "I want to be a good software developer"
result = my_list
print(result)
print(result[2])

I want to be a good software developer
w

In [ ]:
list1 = ['one', 'two', 'three']
list2 = ['four', 'five', 'six']
result = list1 + list2
print(result)

['one', 'two', 'three', 'four', 'five', 'six']

In [ ]:
list1 = ['one', 'two', 'three']
list2 = ['four', 'five', 'six']
result = list1 + list2
print(len(result))

6

In [ ]:
list1 = ['one', 'two', 'three']
list2 = ['four', 'five', 'six']
result = list1 + list2
print(result[3])

four

In [ ]:
list1 = ['bmw', 'mercees', 'opel', 'mazda']
print(list1)
print(len(list1))
print(list1[0])
print(list1[3])
#deg = f"list {} {}"
a = list1.replace('opel','toyota')        # replace liste elemanı değiştiremez
print(a)

['bmw', 'mercees', 'opel', 'mazda']
4
bmw
mazda

AttributeError: ignored

In [ ]:
list1 = 'bmw', 'mercees', 'opel', 'mazda'.split()
print(list1)
a = f"{2} {3} {0} {1}"
print(a)

('bmw', 'mercees', 'opel', ['mazda'])
2 3 0 1

In [ ]:
a = "ali veli deli"
res = a.replace("ali","weki")
print(res)

weki veli deli

In [ ]:
arabalar = ['audi', 'bmw', 'mazda', 'opel']
result = len(arabalar)
print(result)

4

In [ ]:
coins = 2000
total = 4,152.32
rice = 11
day = 5
result = f"If we had bought {coins} crypto coins at the weekend, we would have had {total}$ with a profit share of {rice}% after {day} days."
print(result)

If we had bought 2000 crypto coins at the weekend, we would have had (4, 152.32)$ with a profit share of 11% after 5 days.

In [ ]:
s = f"{2**3}"
print(s)

8

In [ ]:
name = "MERYEM"
result = f"my name is {name.capitalize()}"
print(result)

my name is Meryem

In [ ]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
print(f"{name} is a {age} {gender} \
and she is a student \
at the {school}.")

Susan is a young lady and she is a student at the CLRWY IT university.

In [ ]:
x = 5
x = x*4+x*6
print(x)

50

In [ ]:
text = "{0} I am a {1} programmer and I {2} clarusway.".format("Hello!", "new", "love")
print(text)

Hello! I am a new programmer and I love clarusway.

In [ ]:
city = "SARAJEVO"
result = f"I live in {city.capitalize()}"
print(result)

I live in Sarajevo

In [ ]:
word = 'clarusway'

front = "cla"
back = "usway"
print(front + back)

clausway

In [ ]:
a = "deneme"
print(a[2:5])

nem

In [ ]:
a = "ask bir içim sudur"
print(a.replace("sudur", "şaraptır"))

ask bir içim şaraptır

In [ ]:
sentence = "ask BİR içim sudur"
title_sentence = sentence.title()
print(title_sentence)

Ask Bi̇r Içim Sudur

In [ ]:
txt = 's0d0me and g0m0re'
print(txt.replace("0", "o").title())

Sodome And Gomore

In [ ]:
txt = 's0d0me and g0m0re'
print(txt.replace("0", "o",1).title())

Sod0Me And G0M0Re

In [ ]:
txt = 's0d0me and g0m0re'
print(txt.replace("0", "o",3).title())

Sodome And Gom0Re

In [ ]:
txt = 's0d0me and g0m0re'
print(txt.replace("0", "o",-1).title())

Sodome And Gomore

In [ ]:
txt = 's0d0me and g0m0res'
print(txt.strip('s'))

0d0me and g0m0re

In [ ]:
txt = 's0d0me and g0m0re'
print(txt.strip('re'))

s0d0me and g0m0

In [ ]:
txt = 's0d0me and g0m0re'
print(txt.split('and'))

['s0d0me ', ' g0m0re']

In [ ]:
text = 'In God wee Trust'
print(text.replace('e','',1).title())

In God We Trust

In [ ]:
tuple = (1,2,"c",5)
print(len(tuple))

4

In [ ]:
sehirler = ['kocaeli', 'istanbul']
plakalar = [41, 34]
print(plakalar[sehirler.index('istanbul')])

34

In [ ]:
plakalar = { "istanbul" : 34,"kocaeli" : 41 }
print(plakalar["istanbul"])
print(plakalar["kocaeli"])
plakalar["van"] = 65
print(plakalar)

34
41
{'istanbul': 34, 'kocaeli': 41, 'van': 65}

In [ ]:
canavar = {
    "furkan" : {"yas" : 5,
                "memleket" : "van",
                "tel" : 397432895739,
                "email" : "furkan@hotmail.com"}
}
print(canavar["furkan"]["yas"])
print(canavar["furkan"]["email"])
a = input("isim giriniz: ")
print(canavar[a])

5
furkan@hotmail.com
isim giriniz: furkan
{'yas': 5, 'memleket': 'van', 'tel': 397432895739, 'email': 'furkan@hotmail.com'}

In [ ]:
canavar = {
    "furkan" : {"yas" : 5,
                "memleket" : "van",
               "tel" : 397432895739,
                "email" : "furkan@hotmail.com"}
      

}

a = input("isim giriniz: ")
print(canavar[a])

isim giriniz: furkan
{'yas': 5, 'memleket': 'van', 'tel': 397432895739, 'email': 'furkan@hotmail.com'}

In [ ]:
year = int(input("Enter the year : "))
div4 = year % 4
div100 = year % 100
div400 = year % 400
leap = not div4 and not div100 and not div400
print(year, "is a leap year : ", leap)

Enter the year : 1999
1999 is a leap year :  False

In [ ]:
year = int(input("Enter the year "))
if year % 400==0:
  print(year, "is a leap year. ")
else:
  print(year, "is not a leap year. ")

Enter the year 1999
1999 is not a leap year.

In [ ]:
x = 5 == 5
print(x)

True

In [ ]:
year = int(input("Enter the year : "))

div400 = year % 400
leap = not div400 and not div400
print(year, "is a leap year : ", leap)

Enter the year : 1999
1999 is a leap year :  False

In [ ]:
year = int(input("Enter the year : "))

div400 = year // 400
leap = not div400 and not div400
if leap >= True:
  print(year, "is a leap year : ", leap)
else:
  print(year, "is not a leap year : ", leap)

Enter the year : 1999
1999 is not a leap year :  False

In [ ]:
print(9%4)
print(9//4)
print(9/4)

1
2
2.25

In [ ]:
a = ("1", "2", "3")
print(type(a))
b = a + ("5", "6")
print(b)

<class 'tuple'>
('1', '2', '3', '5', '6')

In [ ]:
a = ["1", "2", "3", "5", "6"]
print(a + ["0", "99"])

['1', '2', '3', '5', '6', '0', '99']

In [ ]:

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
city_list.append("123")
city_list.append("456")
print(city_list)
print(len(city_list))

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], '123', '456']
3

In [ ]:
list("111")

['1', '1', '1']

In [ ]:
my_list = ['Joseph', 'Clarusway', 2020]
new_list1 = list(my_list)  
new_list2 = [my_list]  
print(new_list1)
print(len(new_list1)) 
print(new_list2)
print(len(new_list2))

['Joseph', 'Clarusway', 2020]
3
[['Joseph', 'Clarusway', 2020]]
1

In [ ]:
a = ["2020's hard"]
print(a)

["2020's hard"]

In [ ]:
a = list("2020's hard")
print(a)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [ ]:
a = list("2020's hard")
a.append(9)
print(a)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd', 9]

In [ ]:
a = list()
a.append("2020's hard")
a.append(9)
a.append("xa")
print(a)

["2020's hard", 9, 'xa']

In [ ]:
city = ["los", "bet", "tokyo"]
city[0] = True
print(city)
city[1:] = "van"
print(city)

[True, 'bet', 'tokyo']
[True, 'v', 'a', 'n']

In [ ]:
a = "\\\\"
print(a)

\\

In [ ]:
a = 3
b = 4
print("{} + {}'nin toplamı {}'dir.".format(a, b, a+b))

3 + 4'nin toplamı 7'dir.

In [ ]:
text = "{:.2f}, {:.2}, {:.3}".format(3.1463, 5.367, 7.324567)   #kaç basamak almak istiyoruz..
print(text)

3.15, 5.4, 7.32

In [ ]:
text = "{:.2s}, {:.2s}, {:.3s}".format("3.1463", "5.367", "7.324567")   #kaç basamak almak istiyoruz..
print(text)

3., 5., 7.3

In [ ]:
text = "{:>40}".format("clarusway")  #sağa yaslama
print(text)

                               clarusway

In [ ]:
text = "{:<40}".format("clarusway")  #sola yaslama
print(text)

clarusway

In [ ]:
text1 = 'formatlama {:<30} formatlama'.format('test1')
print(text1)

formatlama test1                          formatlama

In [ ]:
text1 = 'formatlama {:>30} formatlama'.format('test1')
print(text1)

formatlama                          test1 formatlama

In [ ]:
text1 = 'formatlama {:^30} formatlama'.format('test1') # ortalama yapar
print(text1)

formatlama             test1              formatlama

In [ ]:
a = "{:.5}".format("hippopotamus")
print(a)

hippo

In [ ]:
a = "{:10.3}".format("hippopotamus")
print(a)

hip

In [ ]:
a = "{:>10.3}".format("hippopotamus")
print(a)

       hip

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"]  #Listeler
print(list1)
print(len(list1))

['bmw', 'mercedes', 'opel', 'mazda']
4

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"]  #Listeler
print(list1[0])
print(list1[-1])

bmw
mazda

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"]  #Listede eleman değiştirme
list1[-1] = "toyota"
print(list1)

['bmw', 'mercedes', 'opel', 'toyota']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
list1[0] = "seat"
print(list1)

['seat', 'mercedes', 'opel', 'mazda']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
print(list1[-2])

opel

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
result = "mercedes" in list1
print(result)

True

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
result = "seat" in list1
print(result)

False

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
print(list1[:3])

['bmw', 'mercedes', 'opel']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
list1[-1] = "renault"
list1[-2] = "toyota"
print(list1)

['bmw', 'mercedes', 'toyota', 'renault']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
list1[-2:] = "renault", "toyota"

print(list1)

['bmw', 'mercedes', 'renault', 'toyota']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
list1.append("audi")
list1.append("nissan")
print(list1)

['bmw', 'mercedes', 'opel', 'mazda', 'audi', 'nissan']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
result = list1 + ["audi", "nissan"]
print(result)

['bmw', 'mercedes', 'opel', 'mazda', 'audi', 'nissan']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] # listenin bir elemanını silmek
del list1[-1]
print(list1)

['bmw', 'mercedes', 'opel']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] # listenin bir elemanını silmek
list1.clear()
print(list1)

[]

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] 
print(list1[::-1])

['mazda', 'opel', 'mercedes', 'bmw']

In [ ]:
list1 = ["bmw", "mercedes", "opel", "mazda"] #insert metodu istenilen indexin önune ekler.....................
list1.insert(2, "jaguar")
print(list1)

['bmw', 'mercedes', 'jaguar', 'opel', 'mazda']

In [ ]:
studentA = ["yiğit", "bilgi", 2010, [70,60,70]]
studentB = ["sena", "turan", 1999, [80, 80, 70]]
studentC = ["ahmet", "turan", 1998, [80, 70, 90]]
result = studentA[0]
print(result)
result = studentB[1]
print(result)
result = studentC[0][2]
print(result)
result = f"öğrencilerimizden {studentA[0]} in notu {studentA[3][1]} dir {studentB[0]} nın notu {studentB[3][1]} dir ve {studentC[0]} nın notu {studentC[3][2]}"
print(result)

yiğit
turan
m
öğrencilerimizden yiğit in notu 60 dir sena nın notu 80 dir ve ahmet nın notu 90

In [ ]:
studenta = ['ali', 'enes', 2000,[90,80,75]]
studentb = ['ayse','fatma', 1998,[88,98,78]]
studentc = ['canan', 'merve',1992,[90,80,70]]

result = studenta[0]
result = studentb[2]
result = studentc[3][1]
result = f"{studenta[0]} 'nın doğum tarihi' {studenta[2]} 've notu' {studenta[3][1]} 'dır' "
print(result)

ali 'nın doğum tarihi' 2000 've notu' 80 'dır'

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]            #paythonda liste metotları
letters = ["a", "b", "c", "d", "e"]
result = min(numbers)
print(result)
result = max(numbers)
print(result)
result = max(letters)
print(result)
result = letters[:3]
print(result)
numbers[3] = 40
print(numbers) #önemli detay
letters[3] = "aşk"
print(letters)

1
7
e
['a', 'b', 'c']
[1, 2, 3, 40, 5, 6, 7]
['a', 'b', 'c', 'aşk', 'e']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]            #paythonda liste de eleman silme metotları
letters = ["a", "b", "c", "d", "e"]
del letters[-1]
print(letters)

['a', 'b', 'c', 'd']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]            #paythonda liste de eleman silme metotları
letters = ["a", "b", "c", "d", "e"]
letters.pop(-1)
print(letters)

['a', 'b', 'c', 'd']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]            #paythonda liste de eleman silme metotları
letters = ["a", "b", "c", "dot", "e"]
letters.remove("dot")                            # remove da yazdığınız elemanı arar bulur ve siler.............
print(letters)

['a', 'b', 'c', 'e']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]            #paythonda liste de eleman silme metotları
letters = ["a", "b", "c", "d", "e"]
letters.sort()                               # listeyi doğru sırala
print(letters)
letters.reverse()                                   # listeyi tersten sırala..........
print(letters)

['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

In [ ]:
numbers = [1, 2, 3, 44, 5, 6, 7,3]            #paythonda liste de elemanlarını sayma metotları
letters = ["a", "b", "c", "d", "e"]
print(len(numbers))
print(len(letters))
print(numbers.count(3))                # bir elemandan kaç adet olduğunu arar bulur.........

8
5
2

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]
names.append("cenk")
print(names)

['ali', 'yağmur', 'enes', 'furkan', 'cenk']

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]
names.insert(0, "sena")
print(names)

['sena', 'ali', 'yağmur', 'enes', 'furkan']

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]
names.pop(3)
print(names)

['ali', 'yağmur', 'enes']

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]
result = names.index("enes")
print(result)

2

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]
result = "ali" in names
print(result)

True

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]

print(names[::-1])

['furkan', 'enes', 'yağmur', 'ali']

In [ ]:
names = ["ali", "yağmur", "enes", "furkan"]
years = [1998, 2000, 2013, 2016]
names.sort()
print(names)
years.reverse()
print(years)
years.sort()
print(years)

['ali', 'enes', 'furkan', 'yağmur']
[2016, 2013, 2000, 1998]
[1998, 2000, 2013, 2016]

In [ ]:
a = "chevrolet,dacia"
result = a.split(',')
print(result)

['chevrolet', 'dacia']

In [ ]:
a = "chevrolet,dacia"
result = a. split()
print(result)

['chevrolet,dacia']

In [ ]:
print(ord("*"))
print(chr(42))

42
*

In [ ]:
print(ord("@"))

64

In [ ]:
print(ord("-"))

45

In [ ]:
print(chr(77))

M

In [ ]:
list = [1, [1, "one", 2, "two", 3, "three"], 4]
print(list[1][1::2])

['one', 'two', 'three']

In [ ]:
print("new" "line", "end", 3)

newline end 3

In [ ]:
print("new" "line" "end" 3)

SyntaxError: ignored

In [ ]:
print("new" "line")

newline

In [ ]:
print(r"\nhello")

\nhello

In [ ]:

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
markalar = []                    #input ile liste oluşturmak
marka = input("marka: ")
markalar.append(marka)
marka = input("marka: ")
markalar.append(marka)
marka = input("marka: ")
markalar.append(marka)
print(markalar)

marka: opel
marka: mazda
marka: toyota
['opel', 'mazda', 'toyota']

In [ ]:
list = [1, "iki", 3]                             #tuple ile liste oluşturmak
tuple = ("a", "b", "c")                      #tuple da bir eleman değiştirilemez...
print(type(list))
print(type(tuple))
print(list[2])
print(tuple[2])
print(len(list))
print(len(tuple))

<class 'list'>
<class 'tuple'>
3
c
3
3

In [ ]:
#ditionary ile liste ( key - value)
plakalar = { "istanbul" : 34,"kocaeli" : 41 }
print(plakalar["istanbul"])
print(plakalar["kocaeli"])
plakalar["kocaeli"] = 65
print(plakalar)

34
41
{'istanbul': 34, 'kocaeli': 65}

In [ ]:
sehirler = ["istanbul", "kocaeli"] # dictionary olmadan.....
plakalar = [34, 41]
print(plakalar[sehirler.index("istanbul")])
print(plakalar[şehirler.index("kocaeli")])

34
41

In [ ]:
users = {
    'sadıkturan': {
        'age': 36,
        'phone': '3748364328569',
        'email': 'sturan@hotmail.com',
        'adres': 'dfh kfo kfjo ist'
    },
    'eneskaya' : {
        'age' : 7,
        'phone' : '8373845948',
        'email' : 'enes@hotmail.com',
        'adres' : 'jjlk ffhok lko van'
    }
     }
print(users['sadıkturan'])
print(users['sadıkturan']['age'])
print(users['eneskaya']['phone'])

{'age': 36, 'phone': '3748364328569', 'email': 'sturan@hotmail.com', 'adres': 'dfh kfo kfjo ist'}
36
8373845948

In [ ]:
fruits = { 'orange', 'apple', 'banana'}    #Sets listeleme

for x in fruits:
  print(x)
fruits.add("cherry")
print(fruits)
fruits.update(["mango", "grape"])
print(fruits)
fruits.remove('apple')
print(fruits)
fruits.discard('orange')
print(fruits)
fruits.pop()
print(fruits)
fruits.clear()
print(fruits)

apple
banana
orange
{'apple', 'banana', 'orange', 'cherry'}
{'apple', 'orange', 'banana', 'cherry', 'grape', 'mango'}
{'orange', 'banana', 'cherry', 'grape', 'mango'}
{'banana', 'cherry', 'grape', 'mango'}
{'cherry', 'grape', 'mango'}
set()

In [ ]:
my_list = [1,2,3,4,5,4,5,5]
print(set(my_list))

{1, 2, 3, 4, 5}

In [ ]:
vlist = 1, 2, 3, 
x, y, z = vlist
print(x, y, z)

1 2 3

In [ ]:
vlist = 1, 2, 3, 4, 5
x, y, *z = vlist
print(x, y, z)

1 2 [3, 4, 5]

In [ ]:
x, y, z = 2, 5, 203
#numbers = 1, 5, 7, 10, 6
sayı = int(input("bir sayı giriniz "))
sayı2 = int(input("bir sayı daha giriniz "))

print((sayı * sayı2) - (x + y + z))
print(y//x)

bir sayı giriniz 5
bir sayı daha giriniz 8
-170
2

In [ ]:
x, y, z = 2, 5, 203
result = x + y + z
print(result % 3)

0

In [ ]:
x, y, z = 2, 5, 203
print(y**x)

25

In [ ]:
x, y, z = 2, 5, 203
numbers = 1, 5, 7, 10, 6
x, *y, z = numbers
print(z**3)

216

In [ ]:
x, y, z = 2, 5, 203
numbers = 1, 5, 7, 10, 6
x, *y, z = numbers
result = y
print(y[0] + y[1] + y[2])

22

In [ ]:
a == b #a b ye eşit mi?????????
a != b # a b ye eşit değil mi???????   sonucu True ve false olarak verir........

In [ ]:
a = int(input("bir sayı giriniz "))
b = int(input("bir sayı daha giriniz "))
result = (a >= b)
if (a >= b):
  print(f" a: {a} b: {b} den büyüktür: {result}")
else:
  print(f" a: {a} b: {b} den küçüktür: {result}")

bir sayı giriniz 55
bir sayı daha giriniz 66
 a: 55 b: 66 den küçüktür: False

In [ ]:
vize1 = int(input("vize1 notu: "))
vize2 = int(input("vize2 notu: "))
final = int(input("final notu: "))
result = ((vize1 * 0.6) + (vize2 * 0.6))/2 +(final * 0.4)

if (result > 50):
  print("Geçtiniz ", result) 
else:
  print("Kaldıniz ",  result)

vize1 notu: 30
vize2 notu: 40
final notu: 50
Kaldıniz  41.0

In [ ]:
sayı = int(input("bir sayı giriniz "))

if (sayı % 2 == 0):
  print("çift sayı")
else:
  print("Tek sayı")

bir sayı giriniz 20
çift sayı

In [ ]:
x = 5                     #mantıksal operatörler.......
result = 5 < x < 10 
print(result)

False

In [ ]:
sayı = int(input("bir sayı giriniz "))
result = (0< sayı) and (sayı < 100)
print(result)

bir sayı giriniz 112
False

In [ ]:
sayı = int(input("bir sayı giriniz "))
result = (0< sayı) and (sayı % 2 == 0)
print(result)

bir sayı giriniz 1223214324
True

In [ ]:
email = "kaya_nk@hotmail.com"
sifre = "kaya"
login = input("enter your e-mail ")
password = input("enter your password ")
result = login == email
result2 = password == sifre
print(result and result2)

enter your e-mail kaya_nk@hotmail.com
enter your password kaya
True

In [ ]:
sayı1 = int(input("bir sayı gir "))
sayı2 = int(input("bir sayı gir "))
sayı3 = int(input("bir sayı gir "))
result = [sayı1, sayı2, sayı3]
result.sort()
print(result)

bir sayı gir 1
bir sayı gir 7
bir sayı gir 5
[1, 5, 7]

In [ ]:
vize1 = float(input("vize1 notu: "))
vize2 = float(input("vize2 notu: "))
final = float(input("final notu: "))
result = ((vize1 * 0.6) + (vize2 * 0.6))/2 +(final * 0.4)
end = (50 < result) and (final < 50) or (70 < final) 
print(end, result)

vize1 notu: 15
vize2 notu: 25
final notu: 55
False 34.0

In [ ]:
kilo = float(input("lütfen kilonuzu giriniz (kg) "))
boy = float(input("lütfen boyunuzu giriniz (m) "))
result = kilo/(boy*boy)
end0 = (0 < result < 18.4)
end1 = (18.5 < result < 24.9)
end2 = (25 < result < 29.9) 
end3 = (30 < result < 34.9) 
end4 = f" V.K.İ.: {result} dir.   zayıf: {end0},  normal: {end1},  fazla kilolu: {end2}, obez: {end3}"
print(end4)

lütfen kilonuzu giriniz (kg) 75
lütfen boyunuzu giriniz (m) 1.77
 23.93948099205209 :   zayıf: False,  normal: True,  fazla kilolu: False,    obez: False

In [ ]:
x = [1, 2, 3]     # is ve in operatürleri (aynı adrestemidir diye sorgular)
y = [1, 2, 3]
print(x is y)

False

In [ ]:
liste = ["apple", "banana"]
print("apple" in liste)
print("charry" in liste)

True
False

In [ ]:
x = 22
y = 28
if x > y:
  print("x y den büyüktür")
elif x == y:
  print("x y ye eşittir")
else:
  print("y x ten büyüktür")

y x ten büyüktür

In [ ]:
isim = input("isminizi giriniz ")
yaş = int(input("yaşınızı giriniz "))
eğitim = input("eğitim durumunuz ")
if (yaş >= 18) and (eğitim == "lise") or (eğitim == "üniversite"):
  print("ehliyet alabilirsınız")
else:
  print("ehliyet alamazsınız")

isminizi giriniz ali
yaşınızı giriniz 17
eğitim durumunuz lise
ehliyet alamazsınız

In [ ]:
yazılı1 = int(input("birinci yazılı "))
yazılı2 = int(input("ikinci yazılı "))
sözlü = int(input("sözlü notu "))
x = (yazılı1 + yazılı2 + sözlü)/3
if (0 < x <= 24):
  print("ortalamanız:", x, "notunuz:", 0)
elif (25 < x <= 44):
  print("ortalamanız:", x, "notunuz:", 1)
elif (45 < x <= 54):
  print("ortalamanız:", x, "notunuz:", 2)
elif (55 < x <= 69):
  print("ortalamanız:", x, "notunuz:", 3)
elif (70 < x <= 84):
  print("ortalamanız:", x, "notunuz:", 4)
elif (85 < x <= 100):
  print("ortalamanız:", x, "notunuz:", 5)
else:
  print("yanlış bilgi girdiniz")

birinci yazılı 44
ikinci yazılı 44
sözlü notu 55
ortalamanız: 47.666666666666664 notunuz: 2

In [ ]:
import datetime
tarih = input("t.ç. tarihi giriniz (xxxx/x/x) ")
tarih = tarih.split("/")
tç = datetime.datetime(int(tarih[0]), int(tarih[1]), int(tarih[2]))
bg = datetime.datetime.now()
fark = bg - tç
days = fark.days

if (365 <= days < 2*365):
  print("1. servis yılı ")
elif (days > 365) and (days <= 2*365):
  print("2. servis yılı ")
elif (days > 2*365) and (days <= 3*365):
  print("3. servis yılı ")
else:
  print(fark, "servis tarihi aralığında değilsiniz")

t.ç. tarihi giriniz (xxxx/x/x) 2017/7/7
1369 days, 18:32:51.705459 servis tarih aralığında değilsiniz

In [ ]:
import datetime
time = datetime.datetime.now()
print(time)

2021-04-05 18:10:04.472993

In [ ]:
sayı = float(input("bir sayı giriniz "))
if 0 < sayı and sayı < 100:
  print("bu sayı 0 ile 100 arasındadır")
else:
  print("bu sayı 0 ile 100 arasında değil")

bir sayı giriniz 333
bu sayı 0 ile 100 arasında değil

In [ ]:
numbers = [1, 2, 3, 4, 5] # for döngüsü
for x in numbers:
  print(x)

1
2
3
4
5

In [ ]:
numbers = [1, 2, 3, 4, 5]
for x in numbers:
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
names = ["enes", "furkan", "kaya"]
for name in names:
  print(f"my name is {name}")

my name is enes
my name is furkan
my name is kaya

In [ ]:
sayılar = [1, 3, 5, 7, 9, 12, 19, 21]
for d in sayılar:
  if (d % 3 == 0):
    print(d)

3
9
12
21

In [ ]:
sayılar = [1, 3, 5, 7, 9, 12, 19, 21]        #sayaç işlemi
toplam = 0
for sayı in sayılar:
    toplam += sayı   # toplam = toplam + sayı
print(toplam)

77

In [ ]:
sayılar = [1, 3, 5, 7, 9, 12, 19, 21]
for sayı in sayılar:
  if (sayı % 2 == 1):
    print(sayı**2)

1
9
25
49
81
361
441

In [ ]:
şehirler = ["istanbul", "ankara", "van", "kocaeli", "rize"]
for sehir in şehirler:
  if (len(sehir) <= 5):
    print(sehir)

van
rize

In [ ]:
# 1 - 10 e kadar
x = 0
while x < 10:
  print(x)
  x = x + 1
print("Bitti....")

0
1
2
3
4
5
6
7
8
9
Bitti....

In [ ]:
x = 0
while x <= 10:
  if x % 2 == 0:
    print(x)
  x += 1
print("Bitti......")

0
2
4
6
8
10
Bitti......

In [ ]:
name = "" #false
while not name:
  name = input("isminizi giriniz ")
  print(f"merhaba {name}")

isminizi giriniz elf
merhaba elf

In [ ]:
name = input("isminizi giriniz ")
print(f"merhaba {name}")

isminizi giriniz rgr
merhaba rgr

In [ ]:
name = " "
while not name.strip():
  name = input("isminizi giriniz ")
  print(name)

isminizi giriniz bhsdl
bhsdl

In [ ]:
sayılar = [1,3,5,7,9,12,19,21]
i = 0
while (i < len(sayılar)):
  print(sayılar[i])
  i += 1

1
3
5
7
9
12
19
21

In [ ]:
sayı1 = int(input("ilk sayıyı giriniz "))
sayı2 = int(input("bir sayı daha giriniz "))
i = sayı1
while i < sayı2:
    i += 1
    if (i % 2 == 1):
      print(i)

ilk sayıyı giriniz 3
bir sayı daha giriniz 13
5
7
9
11
13

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(letters[7:3:-1])
print(letters[2:6:-1])

['h', 'g', 'f', 'e']
[]

In [ ]:
şehirler = ["van", "istanbul", "bursa"]
print(sorted(şehirler, key = len))

['van', 'bursa', 'istanbul']

In [ ]:
şehirler = ["van", "istanbul", "bursa", "diyarbakır"]
print(sorted(şehirler, key=len, reverse=True))

['istanbul', 'bursa', 'van']

In [ ]:
şehirler = ["van", "istanbul", "bursa", "diyarbakır"]
şehirler.sort(key=len, reverse=True)
print(şehirler)

['diyarbakır', 'istanbul', 'bursa', 'van']

In [ ]:
şehirler = ("van", "istanbul", "bursa", "diyarbakır")
print(şehirler)
print(type(şehirler))

('van', 'istanbul', 'bursa', 'diyarbakır')
<class 'tuple'>

In [ ]:
tuple = ()
print(tuple)

()

In [ ]:
x = 1, 2, 3
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [ ]:
sayılar = [1,2,3,4,5,6,7,8,9,10]
i = 0
while (i < len(sayılar)):
      
      print(sayılar[i])
      i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
şehirler = [400, 500, 2]
i = 0
while (i < len(şehirler)):
  print(şehirler[i])
  i += 1

400
500
2

In [ ]:
sayı1 = int(input("bir sayı giriniz "))
sayı2 = int(input("bir sayı daha giriniz "))
i = sayı1
while (sayı1 <= i <= sayı2):
  if (i % 2 == 1):
    print(i)
  i += 1

bir sayı giriniz 4
bir sayı daha giriniz 11
5
7
9
11

In [ ]:
i = 20
while (0 <= i):
 
  print(i)
  i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
numbers = []
i = 0
while i < 5:
  a = int(input("bir sayı giriniz "))
  numbers.append(a)
  i += 1
numbers.sort()
print(numbers)

bir sayı giriniz 33
bir sayı giriniz 44
bir sayı giriniz 11
bir sayı giriniz 99
bir sayı giriniz 55
[11, 33, 44, 55, 99]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 temp_qty = quantities[i]
 temp_price = prices[i]
 output.append((fruit, temp_qty, temp_price))
 i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
sehir1 = "Ankara"
nüfus = 1000
sehirler = {1 : "sehir" , 2 : "sehir1" , "nüfusum" : "nüfus"}
print(sehirler)
print(sehirler[2])

{1: 'sehir', 2: 'sehir1', 'nüfusum': 'nüfus'}
sehir1

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
'Colorado': 'Denver',
'California': 'Sacramento',
'Georgia': 'Atlanta'}
state_capitals['Virginia'] = 'Richmond' # adding a new item
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
family = {"wife" : "canan", "son" : "enes", "son2" : "furkan"}
print(family)

{'wife': 'canan', 'son': 'enes', 'son2': 'furkan'}

In [ ]:
family =  {
  "name1": "Mesut",
  "name2": "Pınar",
  "name3": "ümit",
  "name4": "cevdet"
}
print(family)

{'name1': 'Mesut', 'name2': 'Pınar', 'name3': 'ümit', 'name4': 'cevdet'}

In [ ]:
family = {"wife" : "canan", "son" : "enes", "son2" : "furkan"}
print(family["wife"])

canan

In [ ]:
family = dict(wife = "canan", son = "enes", son2 = "furkan")  

print(family)

{'wife': 'canan', 'son': 'enes', 'son2': 'furkan'}

In [ ]:
family = {"wife" : "canan", "son" : "enes", "son2" : "furkan"}      # yeni item ekleme
family["cat"] = "lenny"
print(family)

{'wife': 'canan', 'son': 'enes', 'son2': 'furkan', 'cat': 'lenny'}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
family = {"name1" : "canan",
         "name2" : "enes",                # dict te del ile silme 
         "name3" : "furkan"}
del family['name2'], family['name3']
print(list(family))
print(list(family.items()))
print(family.values())
print(family.keys())

['name1']
[('name1', 'canan')]
dict_values(['canan'])
dict_keys(['name1'])

In [ ]:
family = dict(name1 = "Selo", name2 = "Gülo", name3 = "Buro", name4 = 'Berko', name5 = 'Mira')
team = {1: "football", 1: "basketball"}
family.update(team)
print(family)

{'name1': 'Selo', 'name2': 'Gülo', 'name3': 'Buro', 'name4': 'Berko', 'name5': 'Mira', 1: 'basketball'}

In [ ]:
family = {"name1" : "canan",
         "name2" : "enes",                # dict te del ile silme 
         "name3" : "furkan"}
del family['name2']
del family['name3']
print(family)

{'name1': 'canan'}

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },
        },
}
print(school_records)
print(school_records['personal_info']['teen']['marry'])
print(len (school_records['personal_info']['teen']['marry']))

{'personal_info': {'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}, 'grades_info': {'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}}}
{'class': 'high school', 'age': 16}
2

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'
set_2 = set(colors)
print(set_1)
print(set_2)

{'pink', 'blue', 'red'}
{'pink', 'blue', 'red'}

In [ ]:
letters = {'t', 'j', 'u', 'r', 'n', 'e', 'k', 'v', 'i', 'm', 'o', 's', 'z', 'h', 'g', 'a', 'f', 'c', 'p', 'b', 'd', 'l', 'y'}

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y"

print(set(letter))
print(list(letter))

{'b', 'n', 'h', 'y', 'l', 'c', 'i', 'k', 'r', 'p', 'm', 'd', 'u', 'v', 'o', 's', 'g', 'f', 't', 'j', 'a', 'e', ' '}
['a', ' ', 'b', ' ', 'c', ' ', 'd', ' ', 'e', ' ', 'f', ' ', 'g', ' ', 'h', ' ', 'i', ' ', 'j', ' ', 'k', ' ', 'l', ' ', 'm', ' ', 'n', ' ', 'o', ' ', 'p', ' ', 'r', ' ', 's', ' ', 't', ' ', 'u', ' ', 'v', ' ', 'y']

In [ ]:
1 >= 2

False

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)
print(flowerset)
print(flowerlist)
print(flower_list)

{'violet', 'carnation', 'orchid', 'rose'}
['violet', 'carnation', 'orchid', 'rose']
['rose', 'violet', 'carnation', 'rose', 'rose', 'orchid', 'rose', 'orchid']

In [ ]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

print("$",(sales["sell_value"] * sales["inventory"]) - (sales["cost_value"] * sales["inventory"]))

$ 13130.0

In [ ]:
 salery = 5000         #digit
 dolar = 8.30
 result = float(salery * dolar)
 print("${d:.2f}" .format(d = result))

$41500.00

In [ ]:
a = 200 / 700    #****    digits
print("{r:.3}".format(r = a))

0.286

In [ ]:
money = float(input())                # digits digit
print("${:.2f}".format(money))

444
$444.00

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

print("The most frequent number is {} and it was {} times repeated".format(max(set(numbers), key = numbers.count), numbers.count(max(set(numbers), key = numbers.count))))

The most frequent number is 3 and it was 4 times repeated

In [ ]:
left = {"q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c", "v", "b"} #comfortable words
right = {"y", "u", "i", "o", "p", "h", "j", "k", "l", "n", "m"}
word = set(input("Please enter word "))
print(
      (word.intersection(right) and 
      (word.intersection(left))))

Please enter word aşk
{'a'}

In [ ]:
lettuce = True
chees = True
meat = True
pepper = False
bread = True
hamburger = (lettuce or pepper and meat and chees and bread)
if hamburger:
  print("bon apetite")
else:
  print()

bon apetite

In [ ]:
a = set("bnn")
b = set("ntt")
if (a) == (b):
  print("its equal")
else:
  print("xxx")

xxx

In [ ]:
users = input("please write yes or no ")
if users == "yes":
  print("True")
if users == "no":
  print("False")

please write yes or no no
False

In [ ]:
print(input("please write yes or no ").title().strip() == "Yes")  #title ve strip ekleme

please write yes or no sdddd
False

In [ ]:
print("Merhaba, \n"
      "Şimdi seninle bir tahmin oyunu oynayacağız. \n"
      "İpucu: ..., Avrat, Silah")
gizli_kelime = "At"
tahmin = ""
tahmin_sayısı = 0
tahmin_sınırı = 3
tahmin_bitti = False
while tahmin != gizli_kelime and not (tahmin_bitti):
    if tahmin_sayısı < tahmin_sınırı:
        tahmin = input("Tahmin nedir?: ")
        tahmin_sayısı += 1
    else:
        tahmin_bitti = True
if tahmin_bitti:
    print("NE yazık ki bilemedin! :( ")
else:
    print("Aferin, bildin :) ")

Merhaba,
Şimdi seninle bir tahmin oyunu oynayacağız.
İpucu: ..., Avrat, Silah
Tahmin nedir?: at
Tahmin nedir?: eşek
Tahmin nedir?: 5
NE yazık ki bilemedin! :(

In [ ]:
x = int(input('bir sayı '))  # çift mi tek mi ? is it even or add?
if (x % 2 == 0):              # != eşit değil
    print('even')
else:
    print('odd')

bir sayı 5
even

In [ ]:
whether = int(input("enter degree "))
if ( whether > 0):
  print("possitif degree ",whether)
else:
  print("negatif degree ",whether)

enter degree 4
possitif degree  4

In [ ]:
a = int(input("enter number "))
b = int(input("enter 2. number "))
if a > b:
  print(f"{a} lerger then {b}")
else:
  print(f"{b} lerger then {a}")

enter number 4
enter 2. number 3
4 lerger then 3

In [ ]:
a = int(input("enter number "))
b = int(input("enter 2. number "))
if a > b:
  larger = a
else:
  larger = b
  print("the larger number is :", larger)

enter number 4
enter 2. number 7
the larger number is : 7

In [ ]:
a = 3 == 4
b = 5 == 5
if a:
  print("no")
else:
  print("yes")

yes

In [ ]:
a = [1, 2, 3, 4]
b = [sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

In [ ]:
### Verilen listedeki ilk item ı sırasıyla diğerleri ile karşılaştırır,
### benzer olanları "deger" listesinde toplar,
### her grup için output_list listesine yeni ir item olarak ekler...
input_list = ["eat", "tea", "tan", "ate", "nat", "bat"]
output_list = []
i = 0                                                     # Daima ilk elemanı karşılaştırır
while len(input_list) > 0 :
  deger = [input_list[i].lower()]
  sayac = len(input_list)
  x = 1                                                   # Daima ikinci elemandan başlayarak karşılaştırır
  while x < sayac :
    if set(input_list[i].lower()) == set(input_list[x].lower()) :
      deger.append(input_list[x].lower())                 # Benzer olanları bir listede toplar
      input_list.pop(x)                                   # Benzer olanları ana listeden çıkarır
      sayac = sayac-1
    else :
      x += 1
  output_list.append(deger)                               # Benzer elemanlar listesini ana çıktı listesine ekler
  input_list.pop(i)                                       # İlk elemanı ana listeden silerek bir sonraki gruba geçer
for i in range(0,len(output_list)) :
  print(output_list[i], "\n")

['eat', 'tea', 'ate']

['tan', 'nat']

['bat']

In [ ]:
sayı = int(input("notunuzu giriniz "))
if sayı >= 95:
  print("A+")

notunuzu giriniz 55
A

In [ ]:
score = int(input())
if score>79:
  if score>84:
    if score>89:
      if score>94:
        print('Your degree : A+')
      else:
        print('Your degree : A')
    else:
      print('Your degree : B+')
  else:
    print('Your degree : B')
else:
  print('Your degree : B-')

88
Your degree : B+

In [ ]:
yaş = input("yaşınız: ")

while not yaş.isdigit():
  print("yanlış bilgi")
  yaş = input("lütfen tekrar giriniz ")
print("doğru teşekkürler",yaş)

yaşınız: jnj
yanlış bilgi
lütfen tekrar giriniz 44
doğru teşekkürler 44

In [ ]:
answer = 8
while True:
  numb = int(input("Guess the number"))
  if numb > answer :
    print("Little lower")
  elif numb < answer :
    print("little higher")
  else:
    print("Great! You are right.")
    break

Guess the number6
little higher
Guess the number8
Great! You are right.

In [ ]:
numbers = [1,2,3,3,3,3,6,7,7,7,8]
max(1,2,3,6,7,8)

8

In [ ]:
numbers = [1,2,3,3,3,3,6,7,7,7,8]
numbers.count(3)

4

In [ ]:
numbers.count(8)

1

In [ ]:
numbers.count(7)

3

In [ ]:
item = max(numbers, key = numbers.count)

In [ ]:
numbers.count(item)

4

In [ ]:
print("1, \n2, \n3,  \n4, \n5, \n6, \n 7, \n 8, \n 9")

1,
2,
3,
4,
5,
6,
 7,
 8,
 9

In [ ]:
weight = int(input("enter your weight "))
height = float(input("enter your height "))
result = float((weight/(height**2)))
if result < 18.5:
  print("Underweight")
elif (18.5 <= result < 25):
  print("normal")
elif 25<= result <30:
  print("Overweight")
else:
  print("Obesity")

enter your weight 55
enter your height 1.84
Underweight

In [ ]:
def search():
  print("search")
text = ("I need to more study python")
result = text.split(' ')
word = input()
if word in text:
    print("word found")
else:
    print("not found")

more
word found

In [ ]:
N = int(input())     #solo learn
B = sum(range(0,N+1))
print(B)

7
28

In [ ]:
Height=float(input())
Weight=float(input())
x= "BMI"
x = Height/Weight ** 2

if x<18.5:
 print("Underweight") 
elif x>=30:
 print("Obesity")
elif x>=18 and x<25: 
 print("Normal") 
elif x>=25 and x<30:
    
 print("Overweight")

55
1.77
Underweight

In [ ]:
text = input()
Word = input()
def search(text,Word):
 if Word in text:
    print("Word found")
 else:
    print("Word not found")
search(text,Word)

elsa
holo
Word not found

In [ ]:
print("""this
is
great""")

this
is
great

In [ ]:
print(3 * '7')

777

In [ ]:
num1 = int(input("enter a number "))
num2 = int(input("enter another number "))
print(num1 + num2)

enter a number 4
enter another number 5
9

In [ ]:
n = int(input())

for x in range(1, n):
    if x % 3 == 0 and x % 5 == 0:
        print("SoloLearn")
    elif x % 3 == 0:
        print("Solo")
    elif x % 5 == 0:
        print("Learn")
    else:
        print(x)

8
1
2
Solo
4
Learn
Solo
7

In [ ]:
n = int(input("Enter the ending number: "))

for x in range(1, n):
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else:
      print("wow")

Enter the ending number: 9
wow
wow
Fizz
wow
Buzz
Fizz
wow
wow

In [ ]:
def hello():
  print("hi")
hello()

hi

In [ ]:
def greet():
    """This function displays 'Hello World!'"""
    print('Hello World!')

In [ ]:
greet()

Hello World!

In [ ]:
def karebul(a):
  karesi =(a*a)
  print(karesi)

In [ ]:
karebul(3)

9

In [ ]:
def func(p1):
  print(p1)

for a in range(10):
  func(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(5,10):
  func(x)

5
6
7
8
9

In [ ]:
height = []
while True:
    num = input("Type 'ok' when you are done: ")
    if num != "ok":
        height.append(int(num))
    else:
        break
areas = 0
max_l = max_r = 0

l = 0
r = len(height)-1
while l < r:
    if height[l] < height[r]:
        if height[l] > max_l:
            max_l = height[l]
        else:
            areas += max_l - height[l]
        l += 1
    else:
        if height[r] > max_r:
            max_r = height[r]
        else:
            areas += max_r - height[r]
        r -= 1

print("\nRain-trapped area : ", areas)

IndentationError: ignored

In [ ]:
i = int(input())
while i < 10:
  print("ix")
  i = i+1

4
ix
ix
ix
ix
ix
ix

In [ ]:
sayac = 0
toplam=0
while sayac<= 100:
    sayac=sayac+ 2
    toplam=toplam+sayac
 
print("0 ile 100 arasındaki çift sayıların toplam:{0}".format(toplam))

0 ile 100 arasındaki çift sayıların toplam:5151

In [ ]:

i = 0
while i < 10:
	i = i+1
	print("Sayi",i)

Sayi 1
Sayi 2
Sayi 3
Sayi 4
Sayi 5
Sayi 6
Sayi 7
Sayi 8
Sayi 9
Sayi 10

In [ ]:
toplam=0
 
while True:
   print("Sayı Girin:")
   deger= input()
   sayi= int(deger)
   toplam = toplam + sayi
   if sayi==0:break
 
print("Girilen Sayıların Toplamı: ",toplam)

Sayı Girin:
5
Sayı Girin:
5
Sayı Girin:
5
Sayı Girin:
0
Girilen Sayıların Toplamı:  15

In [ ]:
k_adı = "eşek"
şifre = "maymun"
while True:
  kAdı = input("kullanıcı adı")
  şfr = input("şifre")
  if k_adı==kAdı and şifre==şfr:
    
    print("hoşgeldiniz", k_adı)
    break
  else:
    print("lütfen tekrar deneyin")

kullanıcı adıcjkjv
şifrelkclnkv
lütfen tekrar deneyin
kullanıcı adıeşek
şifremaymun
hoşgeldiniz eşek

In [ ]:
n = int(input())
i = 0
s = 0
while i < n:
    s = s + a
    i = i + 1
print(s)

7
38888888885

In [ ]:
a = int(input()) # girilen sayı kaç basamaklı
i = 0
while a > 0:
    a = a // 10
    i = i + 1
print(i)

444
3

In [ ]:
222//10

22

In [ ]:
import random                          #tahmin oyunu
sayı = random.randint(1,10)
can = int(input("kac hakınız olsun istersiniz: "))
hak = can
sayac = 0
while hak > 0:
  hak -=1
  sayac += 1
  tahmin = int(input("tahmininizi giriniz: "))
  if sayı == tahmin:
    print(f"tebrikler {sayac}. defada bildiniz.toplam puanınız: {100 - ((sayac-1)*(100/can))}")
    break
  elif sayı > tahmin:
    print("yükarı")
  else:
    print("aşağı")
  if hak == 0:
    print(f"hakkınız bitti tutulan sayı:", {sayı})

kac hakınız olsun istersiniz: 5
tahmininizi giriniz: 5
yükarı
tahmininizi giriniz: 8
aşağı
tahmininizi giriniz: 7
tebrikler 3. defada bildiniz.toplam puanınız: 60.0

In [ ]:
x, y, *z = (1,4,5,7,88,75,3445)

In [ ]:
print(x)     #yıldız     
print(y)
print(z)

1
4
[5, 7, 88, 75, 3445]

In [ ]:
x, y, *_ = (1,4,5,7,88)

In [ ]:
print(x)
print(y)

1
4

In [ ]:
number = int(input("enter a number: "))
for i in range(11):
  print("{}x{} = " .format(number, i),number*i)

enter a number: 5
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(range(5,25,2))

range(5, 25, 2)

In [ ]:
print(*range(5,0,-2))

5 3 1

In [ ]:
text = ['one','two','three','four','five']  # zip karşılaştırıyor
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
zippo = zip(text, numbers)
dict(zippo)

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [ ]:
zippo = zip(text, numbers)
list(zippo)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [ ]:
zippo = zip(text, numbers)
tuple(zippo)

(('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5))

In [ ]:
text = ['one','two','three','four','five']  # zip karşılaştırıyor
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [ ]:
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
numbers.pop(1)
print(numbers)

[1, 3, 4, 5]

In [ ]:
text.clear()
print(text)

[]

In [ ]:
sayi=int(input("Sayıyı Girin : "))   ###prime number
if sayi > 1:
   
   for i in range(2,sayi):
       if (sayi % i) == 0:
           print(sayi," Asal Sayı Değildir.")
           break
   else:
       print(sayi," Asal Sayıdır.")
 
else:
   print(sayi," Asal Sayı Değildir.")

Sayıyı Girin : 24
24  Asal Sayı Değildir.

In [ ]:
sayi=int(input("Sayıyı Girin : ")) ##### prime number
count = 0
for i in range(1, sayi+1):
  if not sayi % i:
    count +=1
if (sayi==0) or (sayi==1) or (count >= 3) :
  print(sayi, "is not a prime number")
else:
  print(sayi, "is a prime number")

Sayıyı Girin : 5
5 is a prime number

In [ ]:
print(not 5%5)

True

In [ ]:
print("Estimating the risk of death from coronavirus.")
list1 = []  
age = input("do you have elder 75 years old: ")
list1.append(age)
chronic = input("do you have a chronic disease(yes or no): ")
list1.append(age)
immune = input("are you have immune weak(yes or no): ")
list1.append(age)
smoke = input("do you smoke(yes or no): ")
list1.append(age)
if "yes" in list1:     # If there is already a "yes" in the list, the result is true of type bool.
                         # so the same as the "and" operator !!!!!!!
  print("You are in risky group")
elif "no" in list1:
  print("You are not in risky group")
else:

  print("please write just yes or no ")

Estimating the risk of death from coronavirus.
do you have elder 75 years old: yes
do you have a chronic disease(yes or no): no
are you have immune weak(yes or no): no
do you smoke(yes or no): no
You are in risky group

In [ ]:

list1 = []
list2 = []
for i in range(1, 11):
  if i%2==0:
    list1.append(i)
    
  else:
    list2.append(i)
print(list1)
print(list2)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
evens = []
odd = []
for i in range(1, 11):
  if i % 2 == 0:
    evens.append(i)
  else:
    odd.append(i)
print(evens)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
elist = [11,2,24,61,48,33,3]
odd = []
even = []
for i in elist:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print(len(even),"adet",even)
print(len(odd), "adet", odd)

3 adet [2, 24, 48]
4 adet [11, 61, 33, 3]

In [ ]:
elist = [11,2,24,61,48,33,3]
odd = 0
even = 0
for i in elist:
  if not i%2==0:
    even +=1
  else:
    
    odd += 1

print("count of numbers even",even)
print("count of numbers odd",odd)

count of numbers even 4
count of numbers odd 3

In [ ]:
numbers = [11,2,24,61,48,33,3,78,88,96,54]
evens = 0
odds = 0
for i in numbers:
    if not i%2 :
        evens += 1
    else:
        odds += 1
print("The count of even numbers : ", evens)
print("The count of odd numbers : ", odds)

The count of even numbers :  7
The count of odd numbers :  4

In [ ]:
for i in range(10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
toplam = 0
for i in range(1,75):           # sayıların toplamı
  
  toplam = toplam + i
print(toplam)

2775

In [ ]:
sum(range(1, 75)).  # toplamı

2775

In [ ]:
who = ["i am" , "you are"]
mood = ["good", "confident"]
for i in who:
  for ii in mood:
    print(i, ii)

i am good
i am confident
you are good
you are confident

In [ ]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names:
  for ii in mood:
    print(i ,"is", ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
my_list = [1, 2 , 3 , 4 , 5 , 6]
new_list = []
for i in my_list :
  if i % 2 :
    new_list.append(i ** 2)
print(new_list)

[1, 9, 25]

In [ ]:
print([i for i in range(5)])    # list comprehension

[0, 1, 2, 3, 4]

In [ ]:
print([i**2 for i in range(5)])  # list comprehension

[0, 1, 4, 9, 16]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]     #ternary condition yapısı
[i ** 2 for i in my_list if i %2]

[1, 9, 25]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]     #ternary condition yapısı
[i ** 2 for i in my_list if not i %2]

[4, 16, 36]

In [ ]:
def px(a):

  px = a*3.14
  print(px)

In [ ]:
px(5)

15.700000000000001

In [ ]:
def karebul(a):
  karesi =(a*a)
  print(karesi)

In [ ]:
karebul(5)

25

In [ ]:
def px(a):

  px = (a*3.14)
  return

In [ ]:
print(px(5))

None

In [ ]:
def ccevresi(r):
  ccevresi = (2*3.14*r*r)
  print(ccevresi)

In [ ]:
ccevresi(5)

157.0

In [ ]:
grocery = "bread", "water", "oil"
enum_grocery = list(enumerate(grocery,1000))
print(enum_grocery)

[(1000, 'bread'), (1001, 'water'), (1002, 'oil')]

In [ ]:
grocery = "bread", "water", "oil"
enum_grocery = list(enumerate(grocery,0))
print(enum_grocery)

[(0, 'bread'), (1, 'water'), (2, 'oil')]

In [ ]:
ord("a")   # ascii sayısal karşılığı verir

97

In [ ]:
a = []
for i in range(10):
  a.append(i)
print(a)
print(sum(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [ ]:
print(round(12.43453,3))

12.435

In [ ]:
print(round(12.43553,3))

12.436

In [ ]:
print(round(12.43453))

12

In [ ]:
def multiply(a, b) :
    print(a * b)
multiply(3, 5)
multiply(-1, 2.5)
multiply('amazing ', 3)

15
-2.5
amazing amazing amazing

In [ ]:
def multiply(a, b, c) :
    print(a * b* c)
multiply(3, 5, 2)
multiply(-1, 2.5, 0)
multiply('amazing ', 3, 2)

30
-0.0
amazing amazing amazing amazing amazing amazing

In [11]:
def siir():
  siir = """Ne hasta bekler sabahı
Ne taze ölüyü mezar.
Ne de şeytan, bir günahı
Seni beklediğim kadar.
Geçti istemem gelmeni
Yokluğunda buldum seni
Bırak  vehmimde gölgeni
Gelme, artık neye yarar?"""
  return siir

In [14]:
siir()

'Ne hasta bekler sabahı\nNe taze ölüyü mezar.\nNe de şeytan, bir günahı\nSeni beklediğim kadar.\nGeçti istemem gelmeni\nYokluğunda buldum seni\nBırak  vehmimde gölgeni\nGelme, artık neye yarar?'

In [ ]:
def calculator(x, y, opr):
    if opr == "+":
        print(x + y)
    elif opr == "-":
        print(x - y)
    elif opr == "*":
        print(x * y)
    elif opr == "/":
        print(x / y)
    else:
        print("Enter a valid operator!")

In [ ]:
calculator(3,23,"*")

69

In [ ]:
def calculator(x, y, opr):
    if opr == "+":
        return x + y
    elif opr == "-":
        return x - y
    elif opr == "*":
        return x * y
    elif opr == "/":
        return x / y
    else:
        return "Enter a valid operator!"

In [ ]:
print(calculator(2, 3, "*"))

6

In [ ]:
print(siir())

Ne hasta bekler sabahı
Ne taze ölüyü mezar.
Ne de şeytan, bir günahı
Seni beklediğim kadar.
Geçti istemem gelmeni
Yokluğunda buldum seni
Bırak  vehmimde gölgeni
Gelme, artık neye yarar?

In [ ]:
def boolean():
    return True
if boolean():
    print("ben çalıştım")
else :
    print("beni rahatsız etmeyesen.")

ben çalıştım

In [ ]:
while True :
    number = input("enter a positive number.")
    digits = len(number)
    summ = 0
    if not number.isdigit() :
        print(number, "is invalid entry. enter numberic value!")
    elif int(number) >= 0 :
        for i in range(digits) :
            summ = summ + int(number[i]) ** digits
        if summ == int(number) :
            print(number, "is an Armstrong Number.")
            break
        else :
            print(number, "is not an Armstrong Number.")
            break

enter a positive number.433800000000281769391370
433800000000281769391370 is not an Armstrong Number.

In [ ]:
def  fibonacci(sinir):
    sayi1=0
    sayi2=1
    print(sayi1)
    print(sayi2)
    i=0
    while(i<sinir-2):
        sayi3=sayi1+sayi2
        print(sayi3)
        sayi1=sayi2
        sayi2=sayi3
        i+=1
sinir=int(input("lütfen sayı giriniz: "))
fibonacci(sinir)

lütfen sayı giriniz: 5
0
1
1
2
3

In [ ]:
def  fibonacci(sinir):
    sayi1=0
    sayi2=1
    print(sayi1)
    print(sayi2)
    for i in range(sinir-2):
        sayi3=sayi1+sayi2
        print(sayi3)
        sayi1=sayi2
        sayi2=sayi3
sinir=int(input("lütfen sayı giriniz"))
fibonacci(sinir)

lütfen sayı giriniz5
0
1
1
2
3

In [ ]:

dizi = [] #dizi tanımladık
a = 1
b = 1
c = 1
while c<1000: #1000 e kadar devam etmesi için while döngüsüne aldık
    c = a+b
    a = b
    b = c
    dizi.append(b) #diziye aktardık
print(dizi)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [ ]:
#Fibonacci dizisi hangi terimine kadar yazdırılsın onu giriyoruz.
toplamsayi = int(input("Terim sayısı giriniz: "))
#Burada ilk 2 değeri girdik.Yani 0 ve 1'i manuel ekledik.
a1 = 0
a2 = 1
saydir = 0
#Burada ilk girdiğimiz değeri kontrol ettiriyoruz.Eğer 0'dan küçük sayı girdiksek program hata verecektir.
if toplamsayi <= 0:
    print("Lütfen pozitif bir sayı giriniz.")
elif toplamsayi == 1:
    print("Fibonacci dizisi girdiğiniz",toplamsayi,"değerine kadar :")
    print(a1)
else:
    print("Fibonacci dizisi girdiğiniz",toplamsayi,"değerine kadar :")
while saydir < toplamsayi:
    print(a1,end=' , ')
    aa1 = a1 + a2
    #Burada değerleri yeniliyoruz.Yani bir önceki sayıyı bir sonrakine ekledik ve yer değiştirdik.
    a1 = a2
    a2 = aa1
    saydir += 1

Terim sayısı giriniz: 55
Fibonacci dizisi girdiğiniz 55 değerine kadar :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 , 17711 , 28657 , 46368 , 75025 , 121393 , 196418 , 317811 , 514229 , 832040 , 1346269 , 2178309 , 3524578 , 5702887 , 9227465 , 14930352 , 24157817 , 39088169 , 63245986 , 102334155 , 165580141 , 267914296 , 433494437 , 701408733 , 1134903170 , 1836311903 , 2971215073 , 4807526976 , 7778742049 , 12586269025 , 20365011074 , 32951280099 , 53316291173 , 86267571272 ,

In [ ]:

letters = "the clarusway is the best."
def filter_vowels(letter): # function that filters vowels
    vowels = ['a', 'e', 'i', 'o', 'u']
    if letter.lower() in vowels:
        return True
    else:
        return False
filtered_vowels = filter(filter_vowels, letters)
print('The filtered vowels are:')
for vowel in filtered_vowels:
    print(vowel)

The filtered vowels are:
e
a
u
a
i
e
e

In [ ]:

letters = "the clarusway is the best."
def filter_vowels(letter): # function that filters vowels
    vowels = ['a', 'e', 'i', 'o', 'u']
    if letter.lower() in vowels:
        return True
    else:
        return False
filtered_vowels = filter(filter_vowels, letters)
print(filter_vowels)

<function filter_vowels at 0x7fd1a68c7a70>

In [ ]:
def absolute_value(x):    #docstring
  """ 
  docstring
  """
  if  x > 0:
      return x
  else:
      return x*(-1)

In [ ]:
print(absolute_value.__doc__)

  docstring

In [ ]:
def pos_args(a, b):
    print(a, 'is the first argument')
    print(b, 'is the second argument')
pos_args(3,4)
print()
pos_args(4,3)

3 is the first argument
4 is the second argument

4 is the first argument
3 is the second argument

In [ ]:
a = "I"
b = "love"
c = "you"
def texter(a,b,c):
  print(a,b,c)
texter(a,b,c)

I love you

In [ ]:
def texter(a, b, c):
    print(c, b, a)
texter("you", "love", "I")

I love you

In [ ]:
def parrot(voltage, state='fuat', action='ceyhan', typek='nörüyon lenn'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", typek)
    print("-- It's", state, "!")

In [ ]:
parrot(10)                                          # 1 positional argument
parrot(voltage=10)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't ceyhan if you put 10 volts through it.
-- Lovely plumage, the nörüyon lenn
-- It's fuat !
-- This parrot wouldn't ceyhan if you put 10 volts through it.
-- Lovely plumage, the nörüyon lenn
-- It's fuat !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the nörüyon lenn
-- It's fuat !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the nörüyon lenn
-- It's fuat !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the nörüyon lenn
-- It's bereft of life !
-- This parrot wouldn't ceyhan if you put a thousand volts through it.
-- Lovely plumage, the nörüyon lenn
-- It's pushing up the daisies !

In [ ]:
def argu(a, c, b = "Dünya", d = "Saturn"):
    print(a, b, c, d, sep="\n")
argu("Uranüs", "Jupiter")

Uranüs
Dünya
Jupiter
Saturn

In [ ]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)
city('Athens') # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia') # we can change the default value by kwargs
city('Cape Town', 'Africa') # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

In [ ]:
def fruiterer(fruit1, fruit2) :
    print("I want to get", fruit1, 'and', fruit2)
fruiterer('orange', 'banana')

I want to get orange and banana

In [ ]:
def fruiterer(*fruit) :
    print("I want to get :")
    for i in fruit :
        print('-', i)
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
def fruiterer(*fruit) :
    print("I want to get :")
    for i in fruit :
        print('-', i)
fruiterer(input("istediğin meyveyi gir:"))

istediğin meyveyi gir:nar
I want to get :
- nar

In [ ]:
def slicer(*nums):
    even_list = []
    odd_list = []
    for i in nums:
        if nums %2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)

In [ ]:
def slicer(*numbers):
    even_list = []
    odd_list = []
    for i in numbers:
        if i % 2 == 0:
           even_list.append(i)
        else:
            odd_list.append(i)
            return (even, odd)
    print("even list ", even_list)
    print("odd list ", odd_list)

In [ ]:
def slicer(x):
    odds = []
    evens = []
    for item in x:
        if item % 2 == 0:
            evens.append(item)
        elif item % 2 != 0:
            odds.append(item)
    return odds, evens
lst = [1,2,3,4,5,6,7,8,9]
odd_lst, even_lst = slicer(lst)
print("odd list ", odd_lst)
print("even list ", even_lst)

odd list  [1, 3, 5, 7, 9]
even list  [2, 4, 6, 8]

In [ ]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
def organizer(**a):
    keys=[]
    values=[]
    for key, value in a.items():
        keys.append(key)
        values.append(value)
    print(keys)
    print(values)

In [ ]:
organizer(ali=23, veli=33)

['ali', 'veli']
[23, 33]

In [ ]:
def defa(**x) :             # dictionary iki yıldız alır 
    for t, z in x.items():
        print(t, "is", z, "years old.")
defa(ali = 33, veli = 44, deli = 100, ayşe = 22, nazan = 77)

ali is 33 years old.
veli is 44 years old.
deli is 100 years old.
ayşe is 22 years old.
nazan is 77 years old.

In [ ]:
def defa(*x):           # tuple bir yıldız alır
  say = 0
  for t in x:
    say +=t
  return say
print(defa(10,20,35,50,15))

130

In [ ]:
def defa(*x):           # tuple bir yıldız alır
  return sum(x)
print(defa(10,20,35,50,15))

130

In [ ]:
def kelime(x):
  for a in x:
    return x * 5
print(kelime("aşk "))

aşk aşk aşk aşk aşk

In [ ]:
def yazdir(kelime, adet):
  print(kelime * adet)

yazdir("aşk ",5)

aşk aşk aşk aşk aşk

In [ ]:
def listeyecevir(*params):
  liste = []
  for param in params:
    liste.append(param)

  return liste

result = listeyecevir(10,20,33, "merhaba")

print(result)

[10, 20, 33, 'merhaba']

In [ ]:
square = lambda num: num**2          # lambda metodu
numbers = [2,4,6,8,9]
result = list(map(square, numbers))
print(result)

[4, 16, 36, 64, 81]

In [ ]:
square = lambda num: num**2          # lambda metodu

result = square(9)
print(result)

81

In [ ]:
a = input("bir yazı giriniz ").upper().strip()
print(a)

bir yazı giriniz text
TEXT

In [ ]:
from datetime import date

today = date.today()

# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1 =", d1)

# Textual month, day and year	
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y/%t")
print("d3 =", d3)

# Month abbreviation, day and year	
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

d1 = 03/05/2021
d2 = May 03, 2021
d3 = 05/03/21/
d4 = May-03-2021

In [ ]:
import datetime
now = datetime.datetime.now()

print (now.strftime("%Y-%m-%d %H:%M:%S"))

2021-05-03 23:15:38

In [ ]:
eneshesap = {
    'ad': 'enes kaya',
    'hesno': '38573457',
    'bakiye': 5000,
    'ekhesap': 3000

}
furkanhesap = {
    'ad': 'furkan kaya',
    'hesno': '38573457',
    'bakiye': 5000,
    'ekhesap': 3000

}
import datetime
now = datetime.datetime.now()

time = (now.strftime("%Y-%m-%d %H:%M:%S"))

def bankamatik(hesap, cekim):
  print(f"merhaba  {hesap['ad']}")

  kalan = (hesap['bakiye'] + hesap['ekhesap'] - cekim)
  borc = cekim - (hesap['bakiye'])
  toplam = (hesap['bakiye'] + hesap['ekhesap'])

  if (cekim > (hesap['bakiye'] + hesap['ekhesap'])):
    print(f"yetersiz limit! bakiyeniz: {hesap['bakiye']} TL ve ek hesabınız: {hesap['ekhesap']} TL dir. {toplam} TL dir")
  else:
   
  
    if (cekim <= hesap['bakiye']):
      print(f"paranızı alınız. kalan bakiyeniz: {hesap['bakiye']-cekim} TL dir.")
      
    else:
      onay = input("ek hesap kullanmak istermisiniz: e/h: ")
      if (onay == "e"):
        print(f"paranızı alabilirsiniz. {hesap['hesno']} nolu hesap borcunuz -{borc} TL dir.\n {time}")
        
      else:
        print("kartınızı almayı unutmayın")
        
      

bankamatik(eneshesap, 8000)

merhaba  enes kaya
ek hesap kullanmak istermisiniz: e/h: e
paranızı alabilirsiniz. 38573457 nolu hesap borcunuz -3000 TL dir.
 2021-05-03 23:34:49

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')
family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [ ]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [ ]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
# iki önemli nokta. Item sayısı ve key isimleri
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # Dictionary key ve valueları gelir
gene()  # default argümanları getirir

Fred belongs to Generation X
Marry belongs to Generation Y
Solomon belongs to Generation X
David belongs to Generation Y

In [ ]:
[("mary", "rye"), ("bella", "fred"), ("linda", "roland")]
dict_couple = {"bride": ["mary", "bella", "linda"],
               "groom": ["rye", "fred", "roland"]}
def couples(bride, groom):
    couple_list = []
    for i in zip(bride, groom):
        couple_list.append(i)
    return couple_list
couples(**dict_couple)

[('mary', 'rye'), ('bella', 'fred'), ('linda', 'roland')]

In [ ]:
def couples(bride,groom):
  return list(zip(bride, groom))

In [ ]:
def meaner(ali,veli,hakan):
  average = (ali+veli+hakan) / 3
  return("the average of three friends ages is",average)
name_dict = {"ali":25,"veli":36,"hakan":27} 
meaner(**name_dict)

('the average of three friends ages is', 29.333333333333332)

In [ ]:
friends = {"Ali":13,"Veli":12,"Ceyhun" : 19}
def meaner(Ali,Veli,Ceyhun):
    print("avg of them is ", (Ali + Veli + Ceyhun)/3)
meaner(**friends)

avg of them is  14.666666666666666

In [ ]:
k = lambda x: x**2
print(k(9))

81

In [ ]:
y = lambda y,x: (x +y) * (x -y)
print(y(2,3))

5

In [ ]:
(lambda x: "odd" if x%2 else "even")(6)

'even'

In [ ]:
(lambda x: "odd" if x%2 else "even")(5)

'odd'

In [ ]:
print((lambda x: 'tek' if x % 2 else 'çift')(6))

çift

In [ ]:
t = lambda x,y:(x**2) + (y**2) - (2*x*y)
print(t(3,4))

1

In [ ]:
for i in range(5):
  print(i, ":" ,(lambda i: "odd" if i % 2  else "even")(i))

0 : even
1 : odd
2 : even
3 : odd
4 : even

In [ ]:
iterable = "clarusway"
reverser = (lambda x : x[::-1])
print(reverser(iterable))

yawsuralc

In [ ]:
List = [1,2,3,4]
for i in List:
    print(i," : ", (lambda x : "odd" if not x%2 else "even" )(i))

1  :  even
2  :  odd
3  :  even
4  :  odd

In [ ]:
iterable = [1, 2, 3, 4, 5]
result = map(lambda x:x**2, iterable)
print(result)

print(type(result))  # it's a map type
print(list(result))  # we've converted it to list type to print
print(list(map(lambda x:x**2, iterable)))  # you can print directly

<map object at 0x7fcd096bc710>
<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [7]:
def kare(sayi):
    return sayi * sayi
 
sayilar = range(1,10)
map(kare, sayilar)

<map object at 0x7fbfd8d02e10>

In [1]:
letter1 = ['o', 's', 't', 't', 'k']              # ??????????????????????????
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)
print(list(numbers))

['one', 'six', 'ten', 'two']

In [30]:
def carp(sayi1,sayi2):
    return sayi1 * sayi2
def tek_sayi(number):
    return number % 2 == 1

liste1 = range(1, 10)
liste2 = range(11, 20)
liste3 = map(carp, liste1, liste2)
i = filter(tek_sayi, liste3)
print(*i)

11 39 75 119 171

In [26]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [38]:
import datetime
today = datetime.datetime.now()
print(today.strftime("%d-%m-%y"), "Nesne Tabanlı Programlar")

07-05-21 Nesne Tabanlı Programlar

In [50]:
# class
class Person:
  # class attributes
  adress = "no information."
 
  #constructor (yapıcı metod)
  def __init__(self, name, year):
  #object atributes
    self.name = name
    self.year = year
    print("init metodu çalıştı.")

  # methods

  # object (instance)
  p1 = Person(name="enes",year="2013")
  p2 = Person(name="furkan",year="2016")

  # updating
  p1.name = "enes"
  p1.adress = "van"

  p2.name = "furkan"
  p2.adress = "van"

  #accessing objevt attributes

  print(f"name: {p1.name}, year: {p1.year},  adress: {p1.adress}")
  print(f"name: {p2.name}, year: {p2.year},  adress: {p2.adress}")

init metodu çalıştı.
init metodu çalıştı.
name: enes, year: 2013,  adress: van
name: furkan, year: 2016,  adress: van

In [56]:
# class
class Circle:
  # class object attributes
  pi = 3.14
 
  def __init__(self, yaricap = 1):
    self.yaricap = yaricap
  # methods

  # object (instance)
  def cevre_hesapla(self):
    return 2 * self.pi * self.yaricap

  def alan_hesapla(self):
    return self.pi * (self.yaricap**2)


c1 = Circle(5)
c2 = Circle() # değer girilmezse 1 alacaktır

print(f"c1 alan: {c1.alan_hesapla()}, c1 cevre: {c1.cevre_hesapla()}")
print(f"c2 alan: {c2.alan_hesapla()}, c2 cevre: {c2.cevre_hesapla()}")

c1 alan: 78.5, c1 cevre: 31.400000000000002
c2 alan: 3.14, c2 cevre: 6.28